*{
    margin: 0;
    padding: 0;
}


nav{
   display: flex;
   gap: 10px;
   align-items: center;
   justify-content: center;
   padding: 29px;
   font-size: 20px;
   background-color: orange;
    
}

nav a {
    text-decoration: none;
    color: black;
    border: 10px;
    font-weight: bold;
}

nav a:hover{
    background-color: green;
    color: white;
font-weight: bold;
text-decoration-line:underline;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    justify-items: center;
}

.hero_photo{
    width: 50%;
}

.hero_content{
    width: 50%;
}

.hero2{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    justify-items: center;
    background-color: rgba(20, 180, 243, 0.788);
    padding: 20px;
}

.hero2photo{
    justify-content: center;
width: 50%;
}
.hero2content{
    width: 50%;
}



.about_sec{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    justify-items: center;
    
    padding: 20px;
    cursor: pointer;
}
.about_sec a {
    cursor: pointer;
}
.about_sec h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
}


.about_sec h2{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(10, 142, 230, 0.808);
}
/* .about_photo{
    width: 50%;
}
.about_content{
    width: 50%;
} */

.profile{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}





/* end game footer */
footer{
    background-color: orange;
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    gap: 20px;
    
}

footer a {
    text-decoration: none;
color: black;
}